.popover-title{
    background: #f2dede;
    color: #a94442;
}
/*button.multiselect {
    background-color: #435059 !important;
    border: 2px solid rgba(238, 238, 238, 0.1);
    color: #E4E6E7;
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
}*/
.multiselect-container .checkbox input[type=checkbox] {
    display: block;
}

.datepicker.dropdown-menu {
  background-color:#435059;
}

body .popover{
    max-width: 800px;
}

.jconfirm .jconfirm-box div.jconfirm-title-c .jconfirm-title{
    color: #333 !important;
}
.jconfirm .jconfirm-box div.jconfirm-content{
    color: #333 !important;
}